/*  Spaceth.co - Where Thai space nerds write
      Designed by @Nutn0n | Nattanon Dungsunenarn
      2018 Copyright. All right reserved.
 */

 @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

body {
  margin: 0;
  font-style: normal;
  background-color: #fff;
}

h1, h2, h3, h4 {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color:#000;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-family: 'Open Sans', sans-serif;
  color:#333;
}

h2 {
  font-size:  1em;
}

/* Main Element */

.wrapper {
  padding: 20px 30px 20px 30px;
  text-align: center;
}

.logo {
    background: url(../image/logo.svg) no-repeat center top;
    margin: 30vh 0 5px 0;
    display: inline-block;
    background-size: 400px;
    width: 100%;
    height:100px;
}

/*  iPhone 7 */

@media screen and (max-width:800px) {

  .logo {
      background: url(../image/logo.svg) no-repeat center top;
      margin: 200px 0 5px 0;
      display: inline-block;
      background-size: 300px;
      height:80px;
  }

  .wrapper {
    padding: 20px 0px 20px 0px;
    text-align: center;
  }

}

/*  iPhone SE */

@media screen and (max-width:320px) {
  .logo {
      margin: 160px 0 5px 0;
  }
}


/*  Social Media*/

.social-media {
  bottom: 30px;
  margin-left: -20px;
  display: inline-block;
  height: 40px;
}

.social-media .social-media-icon {
  margin: 40px 20px 0 20px;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.facebook {
  background: url(../image/facebook.svg) center center;
  background-size: 25px;
  background-repeat: no-repeat;
}

.facebook:hover{
    background: url(../image/facebook-color.svg) center center;
  background-size: 25px;
    background-repeat: no-repeat;
}

.twitter {
  background: url(../image/twitter.svg);
  background-size: 30px;
}

.twitter:hover{
    background: url(../image/twitter-color.svg);
    background-size: 30px;
}

/*  Footer*/

footer {
  bottom:0;
    width: 100%;
  position: absolute;
}

footer p {
  font-size: .6em;
  text-align: center;
}
